.comment-item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    border-radius: 5px;
    margin: 0 10px 3px;
    padding: 10px 15px 5px;
}

.comment-metadata {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

img.avatar-profile-image {
    width: 25px;
    height: 25px;
}

.comment-author {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
}

.comment-timeAgo {
    font-size: 0.8rem;
    color: var(--text-muted);
    margin: 0;
}

.comment-body {
    margin: 0;
    padding-left: 8px;
}