.app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
}



main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    padding: 10px 15px;
}

.subreddits {
}

.posts {
}


  
/*aside {
    width: 250px;
    background-color: var(--card-bg);
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 101px;
    bottom: 0;
    left: 0;
}
  
main {
    margin-left: 270px;
    padding: 20px;
    min-height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
}*/