:root {
  --bg-color: #121212;
  --bg-secondary: #1e1e1e;
  --text-primary: #ffffff;
  --text-secondary: #f3f5f2;
  --text-muted: #A0A0A0;
  --accent-color: #E63946;
  --accent-secondary: #A8DADC;
  --error-color: #CF6679;
  --border-color: #646464;
  --border-secondary: #393838;
  --input-primary: #4e4e4e;
  --input-secondary: #797979;
  --shadow-color: rgba(0, 0, 0, 0.5);
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}

p, span, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--text-secondary);
}
